#wrapper{
    background-color: aquamarine;
    border-style: solid;
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
}

a{
    Color: green;
    font-weight: bold;
}

a:hover{
    width: 120%;
}