/* Partie header */

header{
    background-color: white;
    padding: 0px;
    
}

.header-content{
    border-style: solid;
    float:right;
    margin-right: 20px;
}

#logo{
    width:70%;
    float:inherit;
}


/* Partie nav */
nav{
    background-color: lightseagreen;
    padding:10px;
    
}

.param{
    float:right;
}

nav button{
    border-radius: 5px;
    background-color: lightgray;
    height: 30px;;
    font-size: 15px;
}