.main{
    background-color: lightslategray;
    
    height: 100%;

}

.elt{
    background-color: white;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    border-width: 2px;
    text-align: center;
    display: inline-block;
    top:0px;
}

.elt img{
    width:200px;
  
}

.elt .abstract{
    visibility: hidden;
}

.elt .info{
    float:left;
    visibility: hidden;
}

.elt button{
    visibility: hidden;
}